#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    width: 100%;
    background-color: #f3f3f2;
    color: #333;
    text-align: center;
}

#wrapper img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    z-index: 1;
}
  .ring {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: conic-gradient(from 0deg, #07e8d6, #f39c12, #e74c3c, #07e8d6); /* Gradient runt cirkeln */
    mask: radial-gradient(farthest-side, transparent calc(100% - 8px), white calc(100% - 8px)); /* Hål i mitten */
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 8px), white calc(100% - 8px));
    box-sizing: border-box;
    position: absolute;
    animation: spin 3s linear infinite;
    z-index: 2;
  }

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.container {
    position: relative;
    width: 400px;
    height: 400px;
}

.landingBox {
    background-color: #E0E1DD;
    width: 40%;
    padding: 20px;
    max-height: 700px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
}

.landingHeader {
    font-size: 4rem;
    color: var(--orange);
    margin: 0px;
    line-height: normal;
}

.landingSubheader {
    font-size: 2rem;
    color: var(--steelblue);
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: normal;
    text-align: center;
}

.landingText {
    font-size: 1.2rem;
    color: var(--steelblue);
    padding: 0 50px 0 50px;
    line-height: normal;
}
.svg-icon {
    width: 5em;
    height: auto;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: #1CB0F6;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -60%;
    left: 50%;
    margin-left: -50px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media (max-width: 768px) {
    #wrapper {
        flex-direction: column-reverse;
        height: 100vh;
    }
    .landingBox {
        width: 80%;
        height: 40vh;
    }
    .landingHeader {
        font-size: 3rem;
    }
    .landingSubheader {
        font-size: 1.5rem;
    }
    .landingText {
        font-size: 1.4rem;
    }
    .svg-icon {
        width: 3em;
        height: auto;
      }
}