:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background: url("../img/pattern.png");
  background-repeat: repeat;
  height: 100%;
  --orange: #e26d5c;
  --steelblue: #415A77;
  --almostwhite: #f3f3f2;
  --grey: #7c7c7c;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
a {
  font-weight: 600;
  color: var(--steelblue);
  text-decoration: inherit;
}
a:hover {
  color: #5c7fa8;
}
li {
  list-style-type: none;
  margin-bottom: 1.5em;
}

