@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.5;
  background: url("./assets/pattern1.png");
  background-repeat: repeat;
  height: 100%;
  --orange: #e26d5c;
  --steelblue: #415A77;
  --almostwhite: #f3f3f2;
  --darkerwhite: #c9c9c9;
  --grey: #7c7c7c;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('./img/pattern2.png');
  color: #f0f0f0;
  transition: all 0.5s ease-in-out;
}
a {
  font-weight: 600;
  color: var(--steelblue);
  text-decoration: inherit;
}
a:hover {
  color: #5c7fa8;
}
li {
  list-style-type: none;
  margin-bottom: 1.5em;
}

